<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="../public/Assets/Style/style.css" rel="stylesheet" />
    <script src="../public/Assets/Javascript/script.js" async></script>
    <title>Heroes</title>
  </head>

  <body>
    <!-- Game information-->
      <h2 class="page-title">HeroeS</h2>
      <div class="game-info-container">
          <div class="game-info">
            Time
            <span id="time-remaining">100</span>
          </div>  
          <div class="game-info">
            Flips <span id="flips">0</span>
          </div>
      </div>
      <div class="overlay-text visible">
        <div class="blood">Welcome</div>
        <span style="font-size: 10px;">Click to Start </span>
          <div class="rdoor"></div>
           <div class="ldoor">
           </div>
        </div>
        <div id="game-over-text" class="overlay-text">
          <div class="blood">Game Over</div>
          <span class="overlay-text-small">Restart</span>
        </div>
        <div id="victory-text" class="overlay-text">
          <div class="blood">Victory</div>
          <span class="overlay-text-small">Restart</span>
        </div>

    <!-- Game container with all the cards
          The cards have 2 divs each-->
    <div class="memory-game">
        <!-- Each div has an image
            The card image-->
     <div class="card">
       <div class="card-back card-face">
          <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
       <!-- The hero card-->
        <div class="card-front card-face" data-framework="blood">
          <img class="card-value" src="../public/Assets/Images/bloodseeker.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face" data-framework="blood">
        <img class="card-value" src="../public/Assets/Images/bloodseeker.jpg">
       </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face" data-framework="huskar">
        <img class="card-value" src="../public/Assets/Images/huskar.jpg">
       </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face" data-framework="huskar">
        <img class="card-value" src="../public/Assets/Images/huskar.jpg">
       </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/mars.jpg">
       </div>
    </div>
    <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/mars.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/bounty.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/bounty.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/pa.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/pa.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/troll.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/troll.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/ember.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/ember.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/dk.jpg">
       </div>
    </div>
     <div class="card">
      <div class="card-back card-face">
        <img class="heartstone" src="https://cdn.glitch.global/05a7d6a1-9bf8-4b3c-a3b1-6223dfa96c58/game-card.jpg?v=1645623842905">
       </div>
      <div class="card-front card-face">
        <img class="card-value" src="../public/Assets/Images/dk.jpg">
       </div>
      </div>
      
      
    </div>

  </body>
</html>
