<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="../public/Assets/Style/style.css" rel="stylesheet" />
        <script src="../public/Assets/Javascript/script.js" async></script>
        <title>Heroes</title>
      </head>
<body>

<!--Register and user authentification  -->

    <div id="bgauth">
        <div class="col align-self-center">
            <div style="border:none">
                <form method="post" action="/register" class="box">
                    <h1>Join the Hoarde!</h1>
                      <p class="text-danger"> Please enter your name!</p>
                      <!--Username--> 
                      <input id="username" type="text" name="name" placeholder="name">
                      <input type="submit" name="" value="Register" href="#">
                </form>
            </div>
        </div>
    </div>


</body>
</html>

